@import url(https://db.onlinewebfonts.com/c/c0cd6ec8ce6d2bbd315a13b62ed13550?family=AdihausDIN);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "AdihausDIN";
    text-decoration: none;
    list-style: none;
    color: black;
}

:root {
    --bg-color : #ECEFF1;
    --header-height:80px;
    --header-notice : 40px;
}

body {
    background-color: var(--bg-color);
}

.headerNotice {
    height: 40px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 2px;
    text-shadow: none;
}

.addidasLogo {
    position: absolute;
    top: calc(var(--header-notice) + 12px);
    left: 30px;
    height: 66px;
}

header {
    background-color: white;
    padding: 0 45px 0 25px;
    height: var(--header-height);
}

.navContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.additionalLinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 12px;
}

.additionalLinks li {
    padding: 8px 12px;
}

nav {
    display: flex;
}

.navList{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 50px;
    font-size: clamp(8px,13px,13px);
    line-height: 1.2;
    letter-spacing: 2px;
}

.navList li {
    margin: 16px 14px;
}

.navList B {
    font-weight: 800;
}

.shopNav {
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    padding: 0 10px 0 14px;
    margin-bottom: 8px;
}

.inputContainer input {
    background-color: var(--bg-color);
    border: none;
    padding: 6px 3px;
    
}

.inputContainer input::placeholder{
    color: black;
}

.shopNavList {
    display: flex ;
}

.shopNavList li {
    margin: 10px ;
}

.cartCount {
    font-size: 12px;
    background-color: rgb(255, 230, 0);
    border-radius: 50%;
    position: relative;
    bottom: 50%;
    right: 20%;
    font-weight: 600;
}