@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
    text-decoration: none;
    list-style: none;
    color: black;
}

:root {
    --bg-color : #ECEFF1;
    --header-height:80px;
}

body {
    background-color: var(--bg-color);
}

.websiteLogo {
    font-weight: 800;
    font-size: 50px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--header-height);
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    transition: 0.3s;
}

.navList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.navList li{
    position: relative;
    font-size: 18px;
    font-weight: 600;
    margin: auto 2rem;
    color: black;
    z-index: 10;
}

.navList a {
    display: block;
    padding: 6px 15px;
}

.navList a:hover ,
.navList a.active{
    border-radius: 25px;
    color: white;
    background-color:  black;
}

.hideHeader {
    transform: translateY(-100px);
}

.corrector {
    margin-top: var(--header-height);
}

@media(max-width:800px){

    .toggelMenu {
        position: absolute;
        top: 36px;
        right: 20px;
        width: 34px;
        height: 3px;
        background-color: black;
        border-radius: 3px;
    }

    .toggelMenu::before {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        width: 34px;
        height: 3px;
        background-color: black;
        border-radius: 3px;
        cursor: pointer;
        transform: translateY(-12px);
    }

    .toggelMenu::after {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        width: 34px;
        height: 3px;
        background-color: black;
        border-radius: 3px;
        transform: translateY(12px);
    }

    .hideMenu {
        transform: translateX(100%);
        
    }

    .showMenu {
        transition: 0.3s ease-in;
    }
    
    .navList {
        position: absolute;
        top: var(--header-height);
        right: 0;
        height: 100vh;
        width: 75%;
        display: block;
        background-color: #ffffff;
        border: 1px solid #ECEFF1;
    }

    .navList li{
        display: flex;
        position: relative;
        font-size: 18px;
        font-weight: 600;
        margin: 1rem;
        color: black;
        z-index: 10;
    }
    
    .navList a {
        padding: 6px 15px;
    }
    
    .navList a:hover {
        text-decoration: underline;
    }

}